.page {
  // .page__first-section
  &__first-section {
    background-color: red;
  }
}

.first-section {
  // .first-section__container
  &__container {
  }

  // .first-section__title
  &__title {
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 20px;
  }

  // .first-section__text
  &__text {
    color: white;
    font-size: 30px;
  }
}

.second-section {
  background-color: brown;
}

.third-section {
  background-color: rebeccapurple;
}